<!-- This is open source check https://github.com/bdronneau/memoriesbox/ -->
{{define "subtitle"}}Shuffle{{end}}
<!DOCTYPE html>
<html lang="en">
    {{template "head"}}
    <body>
      <section class="hero is-success is-fullheight">
        {{template "navbar"}}

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            {{template "memory_add" .}}
          </div>
        </div>

        {{template "footer" .}}
      </section>
      {{template "navbar_script"}}
    </body>
</html>
