{{ define "message" }}
  {{ .messages }}
{{ end }}

{{define "memory_add"}}
<form method="POST" action="/api/memories/add">
  <div class="field">
    <label class="label">Quote</label>
    <div class="control">
      <input class="input" type="text" name="quote" placeholder="I do some blabla">
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <div class="field">
        <label class="label">Author</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="author" placeholder="Author">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label">Date</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="date" name="date" min="2010-01-01" max="2050-12-31" />
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-desktop is-1">
    <div class="column is-one-fifth is-1">
      <button type="submit" class="button is-link">Save</button>
    </div>

    <div class="column is-one-fifth is-1">
      <button class="button is-black">cancel</button>
    </div>
  </div>
</form>
{{end}}


